.title{
	-fx-font-size : 50px;
}

.control{
	-fx-font-size : 24px;
}

.button{
	-fx-pref-width: 200px;
	-fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
}

.button:hover{
	/*-fx-background-color: #fce114;*/
};
	
}

.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.table-view{
	-fx-font-size : 22px;
	-fx-alignment: center-left; 
}

.table-view .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-view:focused {
  -fx-background-color: transparent ,-fx-box-border,-fx-control-inner-background;
}

.custom-align { 
  -fx-alignment: center-right; 
}
